.form-horizontal.loginform {
    color: white !important;
    position: relative;
}

    .form-horizontal.loginform label {
        color: white !important;
    }

    .form-horizontal.loginform > div.form-group {
        display: inline-block;
        margin-top: 20px;
        margin-right: 10px;
    }

div.em {
    position: absolute;
    right: -18vw;
    bottom: -1vh;
    z-index: 1;
    display: none;
}


.loginform {
    position: relative;
}

    .loginform .ajaxdiv {
        position: absolute;
        bottom: 5vh;
        right: -1.5vw;
    }

.livesearchli {
    width: 300px;
    display: block;
    padding: 10px;
    position: relative;
}

input#searchtext{
    position: relative;
    margin-top: 7px;
    margin-left: 100px;
    padding: 5px 10px;
    top: -5px;
}